.categoryOrder {
    padding: 0px 15px;
}

.categoryOrder p {
    border: solid var(--darkGrey) 2px;
    margin: 3px 0px;
    padding: 7px;
    cursor: grab;
}

.categoryOrder p.dragover {
    border-top-color: green;
    border-top-width: 4px;
    border-top-style: dashed;
}