<div class="editableListMealIngredients">
    <h2>Ingredients</h2>
    <div class="itemCollectionContainer">

    </div>

    <div class="gridContainer">
        <div class="recipes">
            <h2>Recipe</h2>
            <div class="recipeContainer"></div>
        </div>
        <div class="components">
            <h2>Meal components</h2>
            <div class="infoBox">
                The ingredients of the selected meal - components will be used in this meal when creating shopping lists.
            </div>
            <div class="mealComponents"></div>
        </div>
    </div>
</div>