/* editable-list styles */
.editable-list {
    width: 100%;
}

.editable-list td:not(:first-child) {
    text-align: center;
}

.editable-list td {
    border: solid #c8c8c8;
    border-width: 2.5px 0px 2.5px 0px;
    height: 45px;
}

.editable-list button.edit {
    width: 35px;
}


.editable-list .element-name {
    display: flex;
    align-items: center;
}

.editable-list th:first-child {
    text-align: left;
}