/* editable-list styles */
.editable-list {
    width: 100%;
}

.editable-list thead {
    position: sticky;
    top: 0;
    background-color: lightgrey;
    height: 50px;
}

.editable-list td:not(:first-child) {
    text-align: center;
}

.editable-list td {
    border: solid #c8c8c8;
    border-width: 2.5px 0px 2.5px 0px;
    height: 45px;
}

.editable-list td:last-child {
    min-width: 80px
}

.editable-list th:first-child {
    text-align: left;
}

.editable-list input {
    width: calc(100% - 10px);
}

.editable-list .additionalActionActive {
    background-color: lightgrey;
}
