<table class="editable-list">
    <thead>
        <tr>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr>
            <td>
                <div class="element-name">
                    <label>testElement</label>
                    <button class="edit" title="edit">✏</button>
                </div>
            </td>
        </tr> -->
        <tr>
            <td colspan="2" class="addElementTD">
                <button class="add">Add new ➕</button>
            </td>
        </tr>
    </tbody>
</table>