button {
    font-size: 17px;
    padding: 4px;
    border-radius: 5px;
}

button+button {
    margin-left: 5px;
}

button.default {
    background-color: white;
    border-color: #e1e1e1;
}

button.danger {
    background-color: red;
}

button.warn {
    background-color: yellow;
}

button.success {
    background-color: #46d000;
}

button.square {
    width: 35px;
    height: 35px;
}