/* styles, which are relevant for all routes */
@import url('./menu.css');

body {
    margin: 0px;
    font-family: arial;
}

/* container and menu alignment */
#container {
    display: flex;
}

#content {
    margin-left: 7px;
}