/* styles, which are relevant for all routes */
@import url('./menu.css');
@import url('./components/editableList.css');
@import url('./components/categories.css');
@import url('./components/editableListSortableCategories.css');
@import url('button.css');
@import url('input.css');
@import url('./reusableStyles/infoBox.css');

body {
    margin: 0px;
    font-family: arial;
}

/* container and menu alignment */
#container {
    display: flex;
}

#content {
    margin-left: 97px;
    flex-grow: 1;
    max-width: calc(100vw - 90px);
}

h1 {
    text-align: center;
}